<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MMData.mdb" providerName="System.Data.OleDb"/>
    <add name="MedicalManager.My.MySettings.DprofilesConnectionString" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=DPROFILES;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString2" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString3" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString4" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString1" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString5" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString6" connectionString="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--Data Source=TEST-8XJF7A8IU7\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah6;User Instance=True-->
  <!--<add name="MedicalManager.My.MySettings.MMDataConnectionString1"
             connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\MMData.mdf;Integrated Security=True;User Instance=True"
             providerName="System.Data.SqlClient" />-->
  <!--connectionString="Data Source=192.168.100.100\sqlexpress;Initial Catalog=DPROFILES;Integrated Security=True"-->
  <!---->
  <!--connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\MMData.mdf;Integrated Security=True;User Instance=True"-->
  <appSettings>
    <add key="connString" value="Data Source=DESKTOP-8Q8DQJD\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=kash5588; TrustServerCertificate=True;"/>
    <!--ConfigurationManager.AppSettings("connString")-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
