<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
      providerName="System.Data.OleDb" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString2"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=Abdullah^"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.DprofilesConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=DPROFILES;User ID=sa;Password=Abdullah^"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString3"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=Abdullah^"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString4"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=Abdullah^"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=Abdullah^"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString5"
      connectionString="Data Source=MIS-PC\SQLEXPRESS;Initial Catalog=MMData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--Data Source=TEST-8XJF7A8IU7\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah6;User Instance=True-->
  <!--<add name="MedicalManager.My.MySettings.MMDataConnectionString1"
             connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\MMData.mdf;Integrated Security=True;User Instance=True"
             providerName="System.Data.SqlClient" />-->

  <!--connectionString="Data Source=192.168.100.100\sqlexpress;Initial Catalog=DPROFILES;Integrated Security=True"-->
  <!---->
  <!--connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\MMData.mdf;Integrated Security=True;User Instance=True"-->
  <appSettings>
    <add key="connString" value="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"/>

    <!--ConfigurationManager.AppSettings("connString")-->
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>




<!--<connectionStrings>
  <add name="MedicalManager.My.MySettings.MMDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
      providerName="System.Data.OleDb" />
  <add name="MedicalManager.My.MySettings.DprofilesConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=DPROFILES;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString2"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString1"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=MMData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>-->

<!--<connectionStrings>
  <add name="MedicalManager.My.MySettings.MMDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
      providerName="System.Data.OleDb" />
  <add name="MedicalManager.My.MySettings.DprofilesConnectionString"
      connectionString="Data Source=192.168.100.100\SQLEXPRESS;Initial Catalog=DPROFILES;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString2"
      connectionString="Data Source=192.168.100.100\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString1"
      connectionString="Data Source=192.168.100.100\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
</connectionStrings>-->



<!--<connectionStrings>
    <add name="MedicalManager.My.MySettings.MMDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
      providerName="System.Data.OleDb" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString2"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.DprofilesConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=DPROFILES;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString3"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
      providerName="System.Data.SqlClient" />
    <add name="MedicalManager.My.MySettings.MMDataConnectionString4"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->


<!--<add name="MedicalManager.My.MySettings.MMDataConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
      providerName="System.Data.OleDb" />
<add name="MedicalManager.My.MySettings.MMDataConnectionString2"
  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
  providerName="System.Data.SqlClient" />
<add name="MedicalManager.My.MySettings.DprofilesConnectionString"
  connectionString="Data Source=.\sqlexpress;Initial Catalog=DPROFILES;User ID=sa;Password=abdullah"
  providerName="System.Data.SqlClient" />
<add name="MedicalManager.My.MySettings.MMDataConnectionString1"
  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
  providerName="System.Data.SqlClient" />
<add name="MedicalManager.My.MySettings.MMDataConnectionString3"
  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
  providerName="System.Data.SqlClient" />
<add name="MedicalManager.My.MySettings.MMDataConnectionString4"
  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MMData;Integrated Security=True"
  providerName="System.Data.SqlClient" />-->

<!--<connectionStrings>
  <add name="MedicalManager.My.MySettings.MMDataConnectionString"
    connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MMData.mdb"
    providerName="System.Data.OleDb" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString2"
    connectionString="Data Source=MAINSERVER\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
    providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.DprofilesConnectionString"
    connectionString="Data Source=MAINSERVER\sqlexpress;Initial Catalog=DPROFILES;User ID=sa;Password=abdullah"
    providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString1"
    connectionString="Data Source=MAINSERVER\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
    providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString3"
    connectionString="Data Source=MAINSERVER\SQLEXPRESS;Initial Catalog=MMData;User ID=sa;Password=abdullah"
    providerName="System.Data.SqlClient" />
  <add name="MedicalManager.My.MySettings.MMDataConnectionString4"
    connectionString="Data Source=MAINSERVER\SQLEXPRESS;Initial Catalog=MMData;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>-->